# Data Ingestion

## Copy CSV files to S3

In [2]:
# Assume all the pre-requisites were set up 
%store -r setup_instance_check_passed
%store -r setup_dependencies_passed
%store -r setup_s3_bucket_passed
%store -r setup_iam_roles_passed

no stored variable or alias setup_instance_check_passed
no stored variable or alias setup_dependencies_passed
no stored variable or alias setup_s3_bucket_passed
no stored variable or alias setup_iam_roles_passed

In [3]:
# Load Libraries
import boto3
import sagemaker
import pandas as pd

sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name
account_id = boto3.client("sts").get_caller_identity().get("Account")

sm = boto3.Session().client(service_name="sagemaker", region_name=region)

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml

In [41]:
# Public Data
!aws s3 ls s3://ads508team5/

# Copy Datasets from :
# Source of data
s3_public_path_csv = "s3://ads508team5/"

# Destination Data:
s3_private_path_csv = "s3://{}/ADS508_project".format(bucket)

s3_private_path_tweeter = "s3://{}/ADS508_project/tweeter".format(bucket)
s3_private_path_nyt = "s3://{}/ADS508_project/nyt".format(bucket)

# Copy datasets
!aws s3 cp --recursive $s3_public_path_csv/ $s3_private_path_tweeter/ --exclude "*" --include "hashtag_donaldtrump.csv"
!aws s3 cp --recursive $s3_public_path_csv/ $s3_private_path_tweeter/ --exclude "*" --include "hashtag_joebiden.csv"
!aws s3 cp --recursive $s3_public_path_csv/ $s3_private_path_nyt/ --exclude "*" --include "nyt-comments-2020.csv"

2024-03-14 19:04:41  483859793 hashtag_donaldtrump.csv
2024-03-14 19:04:41  380820416 hashtag_joebiden.csv
2024-03-14 18:35:45 3066945799 nyt-comments-2020.csv

## Create Database, Tables and Parquets
### Database

In [5]:
# Setup and check pre-requisites to create Database
ingest_create_athena_db_passed = False

!pip install --disable-pip-version-check -q PyAthena==2.1.0
from pyathena import connect

In [6]:
# Create Database
database_name = "dbpoliticpulsecomment"

# Set S3 staging directory -- this is a temporary directory used for Athena queries
s3_staging_dir = "s3://{0}/athena/staging".format(bucket)

conn = connect(region_name=region, s3_staging_dir=s3_staging_dir)

statement = "CREATE DATABASE IF NOT EXISTS {}".format(database_name)

pd.read_sql(statement, conn)

# Verify DB successfully created
statement = "SHOW DATABASES"

df_show = pd.read_sql(statement, conn)
df_show.head(5)

/tmp/ipykernel_102/419283915.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(statement, conn)
/tmp/ipykernel_102/419283915.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_show = pd.read_sql(statement, conn)

           database_name
0  dbpoliticpulsecomment
1                default
2                 dsoaws

In [7]:
# End of Create Database
if database_name in df_show.values:
    ingest_create_athena_db_passed = True

### Tables

In [8]:
# Create Tweeter Tables
table_name_csv = "tweeter"
s3_private_path_tweeter = "s3://{}/ADS508_project/tweeter".format(bucket)

statement = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{}(
  created_at TIMESTAMP,
  tweet_id FLOAT,
  tweet VARCHAR(250),
  likes INT,
  retweet_count INT,
  source VARCHAR(45),
  user_id INT,
  user_name VARCHAR(250),
  user_screen_name VARCHAR(45),
  user_description VARCHAR(250),
  user_join_date TIMESTAMP,
  user_followers_count INT,
  user_location VARCHAR(45),
  lat FLOAT,
  long FLOAT,
  city VARCHAR(45),
  country VARCHAR(45),
  continent VARCHAR(45),
  state VARCHAR(45),
  state_code VARCHAR(45),
  collected_at VARCHAR(45)
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
LOCATION '{}'
TBLPROPERTIES ('skip.header.line.count'='1')""".format(
    database_name, table_name_csv, s3_private_path_tweeter
)

pd.read_sql(statement, conn)

/tmp/ipykernel_102/1858324476.py:35: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [9]:
# testing hashtag_donaldtrump.csv tweet
tweet = "You get a tie! And you get a tie! #Trump ‘s rally #Iowa https://t.co/jJalUUmh5D"
# testing hashtag_joebiden.csv tweet
tweet = "@chrislongview Watching and setting dvr. Let’s give him bonus ratings!! #JoeBiden"


statement = """SELECT * FROM {}.{}
    WHERE tweet = '{}' LIMIT 100""".format(
    database_name, table_name_csv, tweet
)

df = pd.read_sql(statement, conn)
df.head(5)

/tmp/ipykernel_102/1253481606.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(statement, conn)

,created_at,tweet_id,tweet,likes,retweet_count,source,user_id,user_name,user_screen_name,user_description,...,user_followers_count,user_location,lat,long,city,country,continent,state,state_code,collected_at
0,2020-10-15 00:00:21,1.316529e+18,@chrislongview Watching and setting dvr. Let’s...,0,0,Twitter for iPhone,None,Michelle Ferg,MichelleFerg4,,...,27,,None,None,,,,,,2020-10-21 00:00:01.553481849

In [10]:
# Create NYT comment Table
table_name_csv = "nyt_comment"
s3_private_path_nyt = "s3://{}/ADS508_project/nyt".format(bucket)

statement = """CREATE EXTERNAL TABLE IF NOT EXISTS {}.{} (
  commentID INT,
  status VARCHAR(20),
  commentSequence INT,
  userID INT,
  userDisplayName VARCHAR(45),
  userLocation VARCHAR(45),
  userTitle VARCHAR(10),
  commentBody VARCHAR(500),
  createDate TIMESTAMP,
  updateDate TIMESTAMP,
  approveDate TIMESTAMP,
  recommendation INT,
  replyCount INT,
  editorsSelection VARCHAR(20),
  parentID INT,
  parentUserDisplayName VARCHAR(45),
  depth INT,
  commentType VARCHAR(20),
  trusted VARCHAR(20),
  recommendedFlag VARCHAR(20),
  permID INT,
  isAnonymous VARCHAR(20),
  articleID VARCHAR(150)
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
LOCATION '{}'
TBLPROPERTIES ('skip.header.line.count'='1')""".format(
    database_name, table_name_csv, s3_private_path_nyt)

pd.read_sql(statement, conn)

/tmp/ipykernel_102/3398307669.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [11]:
statement = "SHOW TABLES in {}".format(database_name)

df_show = pd.read_sql(statement, conn)
df_show.head(5)

/tmp/ipykernel_102/2201015668.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_show = pd.read_sql(statement, conn)

      tab_name
0  nyt_comment
1      tweeter

In [12]:
commentBody = "@Philip Brown Agree 110%."

statement = """SELECT * FROM {}.{}
    WHERE commentBody = '{}' LIMIT 100""".format(
    database_name, table_name_csv, commentBody
)

df = pd.read_sql(statement, conn)
df.head(5)

/tmp/ipykernel_102/1150646089.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(statement, conn)

,commentid,status,commentsequence,userid,userdisplayname,userlocation,usertitle,commentbody,createdate,updatedate,...,editorsselection,parentid,parentuserdisplayname,depth,commenttype,trusted,recommendedflag,permid,isanonymous,articleid
0,104389709,approved,104389709,72038931,Anthony Monaghan,Narrabeen,,@Philip Brown Agree 110%.,2020-01-01 10:36:20,2020-01-01 21:18:55,...,False,104389536,Philip Brown,2,userReply,0,0,104389709,False,nyt://article/69a7090b-9f36-569e-b5ab-b0ba5bb3...

### Parquets

In [14]:
table_comment = "comment"
table_tweeter = "tweeter"
table_nyt_comment = "nyt_comment"

# SQL Statement combine tweeter and NYT comment in the preparation to create parquet
statement = """
CREATE TABLE IF NOT EXISTS {}.{} AS (
SELECT 
    tweet_id AS comment_id,
    tweet AS comment_body,
    user_id AS user_id,
    user_name AS user_name,
    user_location AS user_location,
    created_at AS create_date,
    retweet_count AS reply_retweet,
    likes AS recommendation_like,
    'tweet' as source,
    (LENGTH(tweet) - LENGTH(REPLACE(LOWER(tweet), 'trump', ''))) / LENGTH('trump') AS trump_count,
    (LENGTH(tweet) - LENGTH(REPLACE(LOWER(tweet), 'biden', ''))) / LENGTH('biden') AS biden_count,
    CASE 
        WHEN 
            (LENGTH(tweet) - LENGTH(REPLACE(LOWER(tweet), 'biden', ''))) / LENGTH('biden') > 
            (LENGTH(tweet) - LENGTH(REPLACE(LOWER(tweet), 'trump', ''))) / LENGTH('trump') 
        THEN 'Biden'
        WHEN              
            (LENGTH(tweet) - LENGTH(REPLACE(LOWER(tweet), 'biden', ''))) / LENGTH('biden') < 
            (LENGTH(tweet) - LENGTH(REPLACE(LOWER(tweet), 'trump', ''))) / LENGTH('trump') 
        THEN 'Trump'
        ELSE NULL
    END AS candidatepoll
FROM
    {}.{}
UNION ALL
SELECT 
    commentid AS comment_id,
    commentbody AS comment_body,
    userID AS user_id,
    userDisplayName AS user_name,
    userLocation AS user_location,
    createDate AS create_date,
    replyCount AS reply_retweet,
    recommendation AS recommendation_like,
    'nyt_comment' as source,
    (LENGTH(commentbody) - LENGTH(REPLACE(LOWER(commentbody), 'trump', ''))) / LENGTH('trump') AS trump_count,
    (LENGTH(commentbody) - LENGTH(REPLACE(LOWER(commentbody), 'biden', ''))) / LENGTH('biden') AS biden_count,
    CASE
        WHEN
            (LENGTH(commentbody) - LENGTH(REPLACE(LOWER(commentbody), 'biden', ''))) / LENGTH('biden') > 
            (LENGTH(commentbody) - LENGTH(REPLACE(LOWER(commentbody), 'trump', ''))) / LENGTH('trump') 
        THEN 'Biden'
        WHEN
            (LENGTH(commentbody) - LENGTH(REPLACE(LOWER(commentbody), 'biden', ''))) / LENGTH('biden') < 
            (LENGTH(commentbody) - LENGTH(REPLACE(LOWER(commentbody), 'trump', ''))) / LENGTH('trump') 
        THEN 'Trump'
        ELSE NULL
    END AS candidatepoll
FROM 
    {}.{}
)""".format(database_name, table_comment,database_name, table_tweeter,database_name, table_nyt_comment)

pd.read_sql(statement, conn)

/tmp/ipykernel_102/1047831578.py:60: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(statement, conn)

Empty DataFrame
Columns: [rows]
Index: []

In [47]:
commentbody = "Joe Biden"
source = "nyt_comment"

statement = """SELECT * FROM {}.{}
    WHERE comment_body like '{}%' and source = '{}' LIMIT 100""".format(
    database_name, table_comment, commentbody, source
)

df = pd.read_sql(statement, conn)
df.head(5)

/tmp/ipykernel_102/4075886453.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(statement, conn)

,comment_id,comment_body,user_id,user_name,user_location,create_date,reply_retweet,recommendation_like,source,trump_count,biden_count,candidatepoll
0,108257960.0,Joe Biden would be smart to work behind the sc...,72983715,American Citizen,Tucson AZ,2020-07-21 21:41:03,0,8,nyt_comment,1,1,None
1,108328184.0,Joe Biden should sue Trump for slander for tha...,1582458,Victor Mark,Birmingham,2020-07-26 13:34:23,0,8,nyt_comment,1,1,None
2,110094464.0,Joe Biden needs to be patient while the votes ...,78820762,M Ford,USA,2020-11-12 00:23:39,10,10,nyt_comment,0,1,Biden
3,104429232.0,Joe Biden's total career in foreign affairs ca...,66975358,99percent,downtown,2020-01-03 21:38:49,0,23,nyt_comment,0,1,Biden
4,106602704.0,Joe Biden will at the very least bring back a ...,110034403,Concerned Citizen,New jersey,2020-04-21 08:53:26,0,3,nyt_comment,1,1,None
5,106603160.0,Joe Biden is hiding in his basement and hasn’t...,89326617,God,Heaven,2020-04-21 10:31:30,0,7,nyt_comment,0,1,Biden
6,107520024.0,Joe Biden warned trump as early as 2004 that C...,12331174,Fred,Bryn Mawr,2020-06-09 22:49:24,0,0,nyt_comment,2,2,None
7,109320808.0,Joe Biden just needs to be himself (comfortabl...,63221581,tippicanoe,Los Angeles,2020-09-27 03:07:51,2,45,nyt_comment,0,2,Biden
8,110207680.0,Joe Biden is 77. He will be 78 on this Friday-...,68711405,Djd,NL,2020-11-18 14:49:05,0,3,nyt_comment,0,1,Biden
9,110218808.0,Joe Biden should hire him.,77113804,Len,Pennsylvania,2020-11-18 21:43:21,0,1,nyt_comment,0,1,Biden
10,106835008.0,Joe Biden may have the same chance Obama had t...,64363387,MrMxzptlk,NewJersey,2020-05-03 02:40:40,0,5,nyt_comment,0,2,Biden
11,108309752.0,Joe Biden will have a special opportunity to p...,49208166,Mark Young,Milwaukee,2020-07-24 19:36:31,0,5,nyt_comment,0,1,Biden
12,109715896.0,Joe Biden is taking a five day break from camp...,37823563,Wilbur Clark,BC,2020-10-20 19:04:05,0,1,nyt_comment,1,1,None
13,109709752.0,Joe Biden defends his promotion and voting for...,30913699,jh,ny,2020-10-20 14:09:27,0,1,nyt_comment,0,1,Biden
14,108014344.0,Joe Biden could shoot ME in the middle of 5th ...,63358236,Gw,Bay,2020-07-08 13:48:21,2,62,nyt_comment,0,1,Biden
15,108030328.0,Joe Biden could shoot ME in the middle of 5th ...,63358236,Gw,Bay,2020-07-08 21:02:21,2,46,nyt_comment,0,1,Biden
16,105606768.0,Joe Biden had no impact on the Market and peop...,46222043,ES,San Francisco,2020-03-04 20:33:18,3,14,nyt_comment,1,1,None
17,106353640.0,Joe Biden is a skeleton from a mythic past. We...,81585724,Shanachie,US,2020-04-08 20:14:19,0,10,nyt_comment,1,1,None
18,106349952.0,Joe Biden is a joke. He is a front man for the...,84436859,Ladyland,Milwaukee,2020-04-08 18:34:11,0,0,nyt_comment,1,2,Biden
19,109802048.0,Joe Biden's proposal to raise the Federal mini...,75292907,BillNeedle,Anytown,2020-10-26 13:22:02,0,16,nyt_comment,0,1,Biden
20,106872048.0,Joe Biden is a decent human being. Trump has b...,62009630,Milton Lewis,Hamilton Ontario,2020-05-05 11:00:58,0,6,nyt_comment,5,1,Trump
21,106372248.0,Joe Biden needs to set an example and wear a m...,37435084,Common Ground,New York,2020-04-09 16:58:04,1,9,nyt_comment,0,1,Biden
22,108746968.0,Joe Biden may not be a “stable genius” and for...,65528978,William England,Edmonton,2020-08-21 14:02:40,0,3,nyt_comment,0,1,Biden
23,108063904.0,Joe Biden should keep doing what he is doing. ...,74589033,Jane,San Francisco,2020-07-10 14:14:15,0,12,nyt_comment,1,1,None
24,107793120.0,Joe Biden has clearly stated his most powerful...,72600137,Dan,NJ,2020-06-26 01:10:54,0,183,nyt_comment,0,1,Biden
25,106453536.0,Joe Biden is a lot of things. Creepy isn't one...,76876578,Russell,Oakland,2020-04-14 05:32:45,0,2,nyt_comment,0,1,Biden
26,105748840.0,Joe Biden will be fine as long as he has his w...,78343265,KMW,New York City,2020-03-11 15:20:06,2,19,nyt_comment,0,1,Biden
27,110042400.0,Joe Biden has been around for a long time and ...,56062707,Timothy,Toronto,2020-11-09 18:48:39,0,9,nyt_comment,0,1,Biden
28,106386544.0,Joe Biden ought to memorize these charts. Trum...,23972425,R. Anderson,South Carolina,2020-04-10 10:48:30,5,28,nyt_comment,2,1,Trump
29,107334808.0,Joe Biden is going to win in a massive landsli...,61158813,Addison Clark,Caribbean,2020-05-31 12:34:03,5,50,nyt_comment,0,1,Biden
30,105783984.0,Joe Biden and vice President Oprah: This is th...,63039265,C Nunes,Rio de Janeiro,2020-03-12 20:54:11,0,3,nyt_comment,1,1,None
31,105623632.0,Joe Biden is a decent person. Full stop.,20988852,Good faith,Earth,2020-03-05 15:37:54,0,18,nyt_comment,0,1,Biden
32,105700592.0,Joe Biden is the first white male Democratic p...,63682587,woodyrd,Colorado,2020-03-09 13:33:27,0,4,nyt_comment,0,1,Biden
33,105710448.0,Joe Biden is most definitely going to need a c...,51520862,Susan,Marie,2020-03-09 19:59:16,0,0,nyt_comment,0,1,Biden
34,108146432.0,Joe Biden has already released his. Next?,77933259,Patricia,Washington (the State),2020-07-15 18:07:29,0,9,nyt_comment,0,1,Biden
35,109730056.0,Joe Biden deserves a massive win after all he ...,30913699,as,la,2020-10-21 16:06:12,0,4,nyt_comment,0,2,Biden
36,104789288.0,Joe Biden and the EU wanted to get rid of the ...,64760773,Oliver,New York,2020-01-24 05:09:53,4,17,nyt_comment,0,1,Biden
37,108567256.0,Joe Biden's basement is not government propert...,1793568,David Weintraub,Edison NJ,2020-08-10 22:13:03,0,6,nyt_comment,0,1,Biden
38,110143960.0,Joe Biden has nothing to lose if he fights the...,36256008,Mark,Cheboygan,2020-11-14 20:41:24,0,4,nyt_comment,0,3,Biden
39,104472864.0,Joe Biden said only witnesses with firsthand k...,72585149,areader,us,2020-01-06 20:16:12,0,0,nyt_comment,1,2,Biden
40,105836080.0,Joe Biden and Bernie Sanders are perfect candi...,66567766,Carol Colitti Levine,CPW,2020-03-16 02:45:16,0,2,nyt_comment,0,1,Biden
41,105831104.0,Joe Biden and Schumer did say that Trump was o...,66293151,Rock Winchester,Peoria,2020-03-15 19:23:42,0,3,nyt_comment,3,1,Trump
42,109379696.0,Joe Biden refuses to denounce Antifa. That was...,32683058,KR,CA,2020-09-30 04:44:16,3,2,nyt_comment,0,1,Biden
43,109380712.0,Joe Biden wasn't debating Donald Trump; he was...,23092805,dankos,New York,2020-09-30 05:55:47,0,4,nyt_comment,1,1,None
44,110201416.0,Joe Biden is decent and honest!,53508667,Samantha Kelly,Long Island,2020-11-18 05:18:38,0,0,nyt_comment,0,1,Biden
45,108444376.0,Joe Biden should set an example and allow a co...,37435084,Common Ground,New York,2020-08-02 20:28:06,1,2,nyt_comment,0,1,Biden
46,108979984.0,Joe Biden is right: this election really is a ...,51357048,Jenna,CA,2020-09-04 20:40:24,0,14,nyt_comment,0,1,Biden
47,108984560.0,Joe Biden’s son served in Iraq. That’s more th...,19850181,SR,Portland,2020-09-05 03:08:18,0,1,nyt_comment,0,2,Biden
48,108982920.0,Joe Biden vs. Donald Trump - a genuine America...,48911378,Rocco Gibraltar,Democratic America,2020-09-05 00:27:17,0,60,nyt_comment,2,2,None
49,109148992.0,Joe Biden could be excused for making the occa...,78343265,KMW,New York City,2020-09-16 22:57:56,0,4,nyt_comment,0,2,Biden

In [16]:
# Setup to create Parquet
ingest_create_athena_table_parquet_passed = False

# Set S3 path to Parquet data
s3_path_parquet = "s3://{}/ADS508_project/parquet".format(bucket)

table_parquet = "comment_parquet"

In [20]:
# SQL statement to execute
statement = """CREATE TABLE IF NOT EXISTS {}.{}
WITH (format = 'PARQUET', external_location = '{}', partitioned_by = ARRAY['candidatepoll']) AS
SELECT comment_id,
         user_name,
         user_location,
         comment_body,
         reply_retweet,
         recommendation_like,
         source,
         trump_count,
         biden_count,
         candidatepoll
FROM {}.{}""".format(
    database_name, table_parquet, s3_path_parquet, database_name, table_comment
)
pd.read_sql(statement, conn)

/tmp/ipykernel_102/3028638003.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql(statement, conn)

Empty DataFrame
Columns: [rows]
Index: []

In [21]:
#load the Parquet partitions
statement = "MSCK REPAIR TABLE {}.{}".format(database_name, table_parquet)

df = pd.read_sql(statement, conn)
df.head(5)

/tmp/ipykernel_102/2260227216.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

In [22]:
statement = "SHOW PARTITIONS {}.{}".format(database_name, table_parquet)
df_partitions = pd.read_sql(statement, conn)
df_partitions.head(5)

/tmp/ipykernel_102/680368856.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_partitions = pd.read_sql(statement, conn)

                                  partition
0  candidatepoll=__HIVE_DEFAULT_PARTITION__
1                       candidatepoll=Trump
2                       candidatepoll=Biden

In [26]:
statement = "SHOW TABLES in {}".format(database_name)
df_partitions = pd.read_sql(statement, conn)
df_partitions.head(5)

/tmp/ipykernel_102/2954009692.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_partitions = pd.read_sql(statement, conn)

          tab_name
0          comment
1  comment_parquet
2      nyt_comment
3          tweeter

In [ ]:
if table_parquet in df_tables.values:
    ingest_create_athena_table_parquet_passed = True

In [40]:
candidatepoll = "Trump"

statement = """SELECT * FROM {}.{}
    WHERE candidatepoll = '{}' LIMIT 100""".format(
    database_name, table_parquet, candidatepoll
)
df = pd.read_sql(statement, conn)
df.head(5)

/tmp/ipykernel_102/3427862730.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(statement, conn)

,comment_id,user_name,user_location,comment_body,reply_retweet,recommendation_like,source,trump_count,biden_count,candidatepoll
0,1.324384e+18,1.2345765630914437e+18,proud sister of an Airforce Veteran. Dog Mom,"""@realDonaldTrump If they do",1.0,NaN,tweet,1,0,Trump
1,1.324385e+18,None,None,"""@DiamondandSilk And a lot of Trump votes were...",NaN,NaN,tweet,1,0,Trump
2,1.324385e+18,Shima,,I think #Biden shoud go to court and ask for r...,0.0,1.0,tweet,4,2,Trump
3,1.324385e+18,Tom Silva,2015-09-28 15:20:29,O #Trump parece que vai perder. O #Biden tá in...,0.0,1.0,tweet,2,1,Trump
4,1.324385e+18,College Conservative,"""Westerville",The sad truth. #donaldtrumpisyourpresident #Do...,0.0,0.0,tweet,5,1,Trump

## Query Data

In [ ]:
# Setup and check pre-requisites to create Database
%store -r ingest_create_athena_table_passed
!pip install --disable-pip-version-check -q awswrangler==2.3.0
import awswrangler as wr

In [ ]:
# Read in Datasets

In [ ]:
# Dataset Info

# Data Exploration

In [ ]:
# Dataset Descriptives

In [ ]:
# Data Distributions

In [ ]:
# Filtering Text by Location